<img src="https://pandas.pydata.org/_static/pandas_logo.png" width="400" align="left"/>

In [1]:
from IPython.display import IFrame

In [2]:
IFrame(src='https://www.youtube.com/embed/pHa3uuSZh6Y', width=640, height=400)

In [36]:
import pandas as pd

# Loading Data Files
Data from https://ec.europa.eu/eurostat/web/environment/waste/database

In [37]:
!head -12 data/env_wasgen.tsv

unit,hazard,nace_r2,waste,geo\time	2016 	2014 	2012 	2010 	2008 	2006 	2004
KG_HAB,HAZ,A,PRIM,AT	: c	1 	1 	9 	: 	: 	:
KG_HAB,HAZ,A,PRIM,BE	2 	2 	2 	2 	: 	: 	:
KG_HAB,HAZ,A,PRIM,BG	0 	0 	0 	0 	: 	: 	:
KG_HAB,HAZ,A,PRIM,CY	1 	1 	1 	1 	: 	: 	:
KG_HAB,HAZ,A,PRIM,CZ	1 	0 	0 	1 	: 	: 	:
KG_HAB,HAZ,A,PRIM,DE	0 	0 	0 	0 	: 	: 	:
KG_HAB,HAZ,A,PRIM,DK	0 	0 	0 	1 	: 	: 	:
KG_HAB,HAZ,A,PRIM,EE	0 	1 	0 	0 	: 	: 	:
KG_HAB,HAZ,A,PRIM,EL	: 	0 	0 	0 	: 	: 	:
KG_HAB,HAZ,A,PRIM,ES	1 	1 	0 	1 	: 	: 	:
KG_HAB,HAZ,A,PRIM,EU28	2 s	2 	2 	2 	: 	: 	:

In [42]:
df = pd.read_table('data/env_wasgen.tsv',header=0,sep=',|\t',engine='python')

In [43]:
df.head()

,unit,hazard,nace_r2,waste,geo\time,2016,2014,2012,2010,2008,2006,2004
0,KG_HAB,HAZ,A,PRIM,AT,: c,1,1,9,:,:,:
1,KG_HAB,HAZ,A,PRIM,BE,2,2,2,2,:,:,:
2,KG_HAB,HAZ,A,PRIM,BG,0,0,0,0,:,:,:
3,KG_HAB,HAZ,A,PRIM,CY,1,1,1,1,:,:,:
4,KG_HAB,HAZ,A,PRIM,CZ,1,0,0,1,:,:,:

In [49]:
df = pd.read_table('data/env_wasgen.tsv',header=0,sep=',|\t',engine='python',
                  names=['unit','hazard','activity','waste','country',2016,2014,2012,2010,2008,2006,2004])

In [52]:
df.head()

     unit hazard activity waste country 2016 2014 2012 2010 2008 2006 2004
0  KG_HAB    HAZ        A  PRIM      AT  : c   1    1    9    :    :     :
1  KG_HAB    HAZ        A  PRIM      BE   2    2    2    2    :    :     :
2  KG_HAB    HAZ        A  PRIM      BG   0    0    0    0    :    :     :
3  KG_HAB    HAZ        A  PRIM      CY   1    1    1    1    :    :     :
4  KG_HAB    HAZ        A  PRIM      CZ   1    0    0    1    :    :     :

In [53]:
df.shape

(229984, 12)

In [56]:
df.waste.unique()

array(['PRIM', 'SEC', 'TOTAL', 'TOT_X_MIN', 'W01-05', 'W011', 'W012',
       'W013', 'W02A', 'W032', 'W033', 'W05', 'W06', 'W061', 'W062',
       'W063', 'W06_07A', 'W071', 'W072', 'W073', 'W074', 'W075', 'W076',
       'W077', 'W077_08', 'W081', 'W0841', 'W08A', 'W09', 'W091',
       'W091_092', 'W092', 'W093', 'W10', 'W101', 'W102', 'W103', 'W11',
       'W12-13', 'W121', 'W124', 'W126', 'W126_127', 'W127', 'W128_13',
       'W12A', 'W12B', 'W12_X_127NH', 'W13'], dtype=object)

# Renaming Fields

In [61]:
df.loc[df.waste=='W074','waste']='Plastic'
df.loc[df.waste=='W071','waste']='Glass'
df.loc[df.waste=='W06_07A','waste']='Recyclable'
df.loc[df.waste=='W12-13','waste']='Mineral'
df.loc[df.waste=='W075','waste']='Wood'
df.loc[df.waste=='W076','waste']='Textile'
df.loc[df.waste=='W063','waste']='Metal'
df.loc[df.waste=='W10','waste']='Mixed ordinary wastes'
df.loc[df.waste=='W073','waste']='Rubber'
df.loc[df.waste=='W072','waste']='Paper and cardboard'
df.loc[df.waste=='W081','waste']='Vehicles'
df.loc[df.waste=='W01-05','waste']='Chemical&Medical'

In [62]:
df.waste.unique()

array(['PRIM', 'SEC', 'TOTAL', 'TOT_X_MIN', 'Chemical&Medical', 'W011',
       'W012', 'W013', 'W02A', 'W032', 'W033', 'W05', 'W06', 'W061',
       'W062', 'Metal', 'Recyclable', 'Glass', 'Paper and cardboard',
       'Rubber', 'Plastic', 'Wood', 'Textile', 'W077', 'W077_08',
       'Vehicles', 'W0841', 'W08A', 'W09', 'W091', 'W091_092', 'W092',
       'W093', 'Mixed ordinary wastes', 'W101', 'W102', 'W103', 'W11',
       'Mineral', 'W121', 'W124', 'W126', 'W126_127', 'W127', 'W128_13',
       'W12A', 'W12B', 'W12_X_127NH', 'W13'], dtype=object)

In [63]:
df.activity.unique()

array(['A', 'B', 'C', 'C10-C12', 'C13-C15', 'C16', 'C17_C18', 'C19',
       'C20-C22', 'C23', 'C24_C25', 'C26-C30', 'C31-C33', 'D',
       'E36_E37_E39', 'E38', 'EP_HH', 'F', 'G-U_X_G4677', 'G4677',
       'TOTAL_HH'], dtype=object)

In [64]:
df.loc[df.activity=='B','activity']='Mining and quarrying'
df.loc[df.activity=='F','activity']='Construction'
df.loc[df.activity=='EP_HH','activity']='Households'

In [65]:
df.activity.unique()

array(['A', 'Mining and quarrying', 'C', 'C10-C12', 'C13-C15', 'C16',
       'C17_C18', 'C19', 'C20-C22', 'C23', 'C24_C25', 'C26-C30',
       'C31-C33', 'D', 'E36_E37_E39', 'E38', 'Households', 'Construction',
       'G-U_X_G4677', 'G4677', 'TOTAL_HH'], dtype=object)

In [16]:
df.loc[1,2016]

'2 '

In [17]:
type(df.loc[1,2016])

str

# Convert Elements to Numeric Type

In [18]:
df.iloc[:,5:].apply(pd.to_numeric,errors='coerce').iloc[10]

2016    NaN
2014    2.0
2012    2.0
2010    2.0
2008    NaN
2006    NaN
2004    NaN
Name: 10, dtype: float64

In [19]:
df.iloc[10]

unit        KG_HAB
hazard         HAZ
activity         A
waste         PRIM
country       EU28
2016           2 s
2014            2
2012            2
2010            2
2008            :
2006            :
2004             :
Name: 10, dtype: object

# Modifying Elements Using Custom Function

In [20]:
df.iloc[:,5:] = df.iloc[:,5:].applymap(lambda x: x.rstrip('bcdefinprsuz'))
df.iloc[:,5:] = df.iloc[:,5:].apply(pd.to_numeric,errors='coerce')
df.iloc[10,5:]

2016    2.0
2014    2.0
2012    2.0
2010    2.0
2008    NaN
2006    NaN
2004    NaN
Name: 10, dtype: object

# Saving DataFrames

In [21]:
output = pd.ExcelWriter('data/wasgen.xlsx')
df.to_excel(output,'Sheet1',index=False)
output.save()

In [22]:
df.to_csv('data/wasgen.csv')

In [23]:
df.loc[(df.hazard == 'NHAZ') & (df.unit == 'KG_HAB') & (df.activity == 'Households')
      & (df.waste == 'Plastic') & ((df.country == 'DE') | (df.country == 'SE')) ]

,unit,hazard,activity,waste,country,2016,2014,2012,2010,2008,2006,2004
106888,KG_HAB,NHAZ,Households,Plastic,DE,2.0,1.0,2.0,1.0,2.0,4.0,2.0
106914,KG_HAB,NHAZ,Households,Plastic,SE,9.0,10.0,7.0,7.0,7.0,5.0,5.0

# MultiIndex Creation

In [24]:
df1 = df.set_index(keys=['unit','hazard','activity','waste','country'],inplace=False)
df1.head()

                                     2016 2014 2012 2010 2008 2006 2004
unit   hazard activity waste country
KG_HAB HAZ    A        PRIM  AT       NaN  1.0  1.0  9.0  NaN  NaN  NaN
                             BE       2.0  2.0  2.0  2.0  NaN  NaN  NaN
                             BG       0.0  0.0  0.0  0.0  NaN  NaN  NaN
                             CY       1.0  1.0  1.0  1.0  NaN  NaN  NaN
                             CZ       1.0  0.0  0.0  1.0  NaN  NaN  NaN

In [25]:
df1.index.names

FrozenList(['unit', 'hazard', 'activity', 'waste', 'country'])

In [26]:
df1.index.levels

FrozenList([['KG_HAB', 'T'], ['HAZ', 'HAZ_NHAZ', 'NHAZ'], ['A', 'C', 'C10-C12', 'C13-C15', 'C16', 'C17_C18', 'C19', 'C20-C22', 'C23', 'C24_C25', 'C26-C30', 'C31-C33', 'Construction', 'D', 'E36_E37_E39', 'E38', 'G-U_X_G4677', 'G4677', 'Households', 'Mining and quarrying', 'TOTAL_HH'], ['Chemical&Medical', 'Glass', 'Metal', 'Mineral', 'Mixed ordinary wastes', 'PRIM', 'Paper and cardboard', 'Plastic', 'Recyclable', 'Rubber', 'SEC', 'TOTAL', 'TOT_X_MIN', 'Textile', 'Vehicles', 'W011', 'W012', 'W013', 'W02A', 'W032', 'W033', 'W05', 'W06', 'W061', 'W062', 'W077', 'W077_08', 'W0841', 'W08A', 'W09', 'W091', 'W091_092', 'W092', 'W093', 'W101', 'W102', 'W103', 'W11', 'W121', 'W124', 'W126', 'W126_127', 'W127', 'W128_13', 'W12A', 'W12B', 'W12_X_127NH', 'W13', 'Wood'], ['AL', 'AT', 'BA', 'BE', 'BG', 'CY', 'CZ', 'DE', 'DK', 'EE', 'EL', 'ES', 'EU28', 'FI', 'FR', 'HR', 'HU', 'IE', 'IS', 'IT', 'LI', 'LT', 'LU', 'LV', 'ME', 'MK', 'MT', 'NL', 'NO', 'PL', 'PT', 'RO', 'RS', 'SE', 'SI', 'SK', 'TR', 'UK', 'XK']])

In [27]:
index = pd.MultiIndex.from_arrays([df.unit,df.hazard,df.activity,df.waste,df.country],
                                 names=['unit','hazard','activity','waste','country'])

In [28]:
df = pd.DataFrame(data=df.iloc[:,5:].values,index=index,columns=df.columns[5:])

In [29]:
df.head()

                                     2016 2014 2012 2010 2008 2006 2004
unit   hazard activity waste country
KG_HAB HAZ    A        PRIM  AT       NaN  1.0  1.0  9.0  NaN  NaN  NaN
                             BE       2.0  2.0  2.0  2.0  NaN  NaN  NaN
                             BG       0.0  0.0  0.0  0.0  NaN  NaN  NaN
                             CY       1.0  1.0  1.0  1.0  NaN  NaN  NaN
                             CZ       1.0  0.0  0.0  1.0  NaN  NaN  NaN

In [30]:
df.loc['KG_HAB','NHAZ',['Construction','Mining and quarrying'],'Mineral'].head()

                                              2016    2014    2012    2010  \
unit   hazard activity     waste   country
KG_HAB NHAZ   Construction Mineral AT          NaN  4601.0  3882.0  2442.0
                                   BA          NaN     NaN     0.0     NaN
                                   BE       1508.0  1316.0  1287.0  1236.0
                                   BG        289.0   181.0   133.0    10.0
                                   CY       1014.0   731.0  1093.0  1221.0

                                              2008    2006    2004
unit   hazard activity     waste   country
KG_HAB NHAZ   Construction Mineral AT       3672.0  3553.0  3310.0
                                   BA          NaN     NaN     NaN
                                   BE        949.0  1015.0   956.0
                                   BG        238.0   132.0   386.0
                                   CY        505.0   345.0   352.0

In [31]:
df.index.is_lexsorted()

False

In [32]:
df.sort_index(axis='index',inplace=True)

In [33]:
df.index.is_lexsorted()

True

In [34]:
df.loc['KG_HAB','NHAZ',['Construction','Mining and quarrying'],'Mineral'].head()

                                              2016    2014    2012    2010  \
unit   hazard activity     waste   country
KG_HAB NHAZ   Construction Mineral AT          NaN  4601.0  3882.0  2442.0
                                   BA          NaN     NaN     0.0     NaN
                                   BE       1508.0  1316.0  1287.0  1236.0
                                   BG        289.0   181.0   133.0    10.0
                                   CY       1014.0   731.0  1093.0  1221.0

                                              2008    2006    2004
unit   hazard activity     waste   country
KG_HAB NHAZ   Construction Mineral AT       3672.0  3553.0  3310.0
                                   BA          NaN     NaN     NaN
                                   BE        949.0  1015.0   956.0
                                   BG        238.0   132.0   386.0
                                   CY        505.0   345.0   352.0